<!DOCTYPE html>
<html>
<%- include('partials/front_head'); %>

	<body class="royal_preloader">
		<div id="page" class="site">

			<!-- #site-header -->
			<%- include('partials/front_header'); %>
				<div id="content" class="site-content">
					<div class="page-header" style="background: url(/bg-pheader.jpg) no-repeat center center;">
						<div class="container">
							<div class="breadc-box no-line">
								<div class="row">
									<div class="col-md-6">
										<h1 class="page-title">About Us</h1>
									</div>
									<div class="col-md-6 mobile-left text-right">
										<ul id="breadcrumbs" class="breadcrumbs none-style">
											<li><a href="index.html">Home</a></li>
											<li class="active">About Us</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="entry-content">
						<div class="container">
							<div class="boxed-content">
								<section class="wpb_row row-fluid section-padd">
									<div class="container">
										<div class="row">
											<div class="wpb_column column_container col-sm-12">
												<div class="column-inner">
													<% aboutUs.sections.forEach(section => { %>
													<div class="wpb_wrapper">
														<div class="section-head ">
															<h6><span><%=section.subTitle%></span></h6>
															<h2 class="section-title"><%=section.title%></h2>
														</div>

														<div class="wpb_text_column wpb_content_element ">
															<div class="wpb_wrapper">
																<%-section.content%>
															</div>
														</div>
													</div>
													<%})%>
												</div>
											</div>
											<div class="wpb_column column_container col-sm-12">
												<div class="column-inner">
													<div class="wpb_wrapper">
														<div
															class="row wpb_row inner row-fluid row-o-equal-height row-flex">
															<div class="radius-left custom-padd-2 wpb_column column_container col-sm-12 col-md-6 col-has-fill"
																style="background-image: url(/<%=aboutUs.ownerDetail.image%>);">
																<div class="column-inner">
																	<div class="wpb_wrapper"></div>
																</div>
															</div>
															<div
																class="bg-second radius-right wpb_column column_container col-sm-12 col-md-6">
																<div class="column-inner">
																	<div class="wpb_wrapper">
																		<div
																			class="wpb_text_column wpb_content_element text-light padding-box">
																			<div class="wpb_wrapper">
																				<%=aboutUs.ownerDetail.content%>

																			</div>
																		</div>

																		<div
																			class="wpb_text_column wpb_content_element text-light info-box padd-box">
																			<div class="wpb_wrapper">
																				<div class="sign">
																					<h5><%=aboutUs.ownerDetail.name%></h5>
																					<p><%=aboutUs.ownerDetail.educationInfo%></p>
																				</div>
																			</div>
																		</div>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>


										</div>
									</div>
								</section>



							</div>
						</div>
					</div>
				</div>

				<!-- #content -->
				<%- include('partials/front_footer'); %>

					<!-- #site-footer -->
		</div>

		<%- include('partials/front_javascript'); %>

	</body>

</html>