<!DOCTYPE html>
<html>
    <%- include('partials/front_head'); %>

<body class="royal_preloader">
	<div id="page" class="site">
        
        <!-- #site-header -->
        <%- include('partials/front_header'); %>
		<div id="content" class="site-content">
			<div class="page-header" style="background-image: url('/bg-pheader.jpg');">
			    <div class="container">
			        <div class="breadc-box no-line">
			            <div class="row">
			                <div class="col-md-6">
			                    <h1 class="page-title"><%= blog.title %></h1>
			                </div>
			                <div class="col-md-6 mobile-left text-right">
			                    <ul id="breadcrumbs" class="breadcrumbs none-style">
			                        <li><a href="/">Home</a></li>
			                        <li><a href="/blog">Blog</a></li>
			                        <li class="active"><%= blog.title %></li>
			                    </ul>
			                </div>
			            </div>
			        </div>
			    </div>
			</div>
			<div class="entry-content">
				<div class="container">
					<div class="row">
					
						<div id="primary" class="content-area col-lg-8 col-md-8 col-sm-12 col-xs-12">
						    <main id="main" class="site-main">

						        <article class="post-box post type-post hentry">
						            <% if (blog.featuredImage) { %>
						            <div class="entry-media">
						                <a href="#">
						                    <img src="/<%= blog.featuredImage %>" alt="<%= blog.title %>">
						                </a>
						            </div>
						            <% } %>
						            <div class="inner-post">
						                <header class="entry-header">
						                    <div class="entry-meta">
						                        <span class="posted-on">
						                        	<time class="entry-date published"><%= new Date(blog.createdAt).toLocaleDateString('en-US', { year: 'numeric', month: 'long', day: 'numeric' }) %></time>
						                        </span>
						                        <% if (blog.categories && blog.categories.length > 0) { %>
						                        <span class="posted-in">
						                        	<% blog.categories.forEach((cat, index) => { %>
						                        		<a href="/category/<%= cat.slug %>" rel="category tag"><%= cat.name %></a><%= index < blog.categories.length - 1 ? ', ' : '' %>
						                        	<% }); %>
						                        </span>
						                        <% } %>
						                    </div>
						                </header>

						                <div class="entry-summary">
								            <%- blog.content %>
								        </div>
								        <!-- .entry-content -->
								        
								        <% if (blog.categories && blog.categories.length > 0) { %>
								        <div class="tagcloud">
								            <div class="tags-links">
								            	<% blog.categories.forEach(cat => { %>
								            		<a href="/category/<%= cat.slug %>" rel="tag"><%= cat.name %></a>
								            	<% }); %>
								            </div>
								        </div>
								        <% } %>

						            </div>
						        </article>

						        <!-- STATIC COMMENTS SECTION -->
						        <div id="comments" class="comments-area">
								    <h4 class="comments-title">Comments (4)</h4>
								    <ol class="comment-list">

								        <li id="comment-5" class="comment even thread-even depth-1 comment-item">
								            <article class="comment-wrap clearfix">

								                <div class="gravatar">
								                    <img alt="" src="/team1.jpg" class="avatar avatar-68 photo" height="68" width="68"> </div>

								                <div class="comment-content">
								                    <div class="comment-meta">
								                        <h6 class="comment-author">admin</h6>
								                        <span class="comment-time">March 11, 2018</span>
								                    </div>
								                    <div class="comment-text">
								                        <p>The recording starts with the patter of a summer squall. Later, a drifting tone like that of a not-quite-tuned-in radio station rises and for a while drowns out the patter.</p>
								                        <div class="comment-reply"><a class="comment-reply-link" href="#">Reply</a></div>
								                    </div>
								                </div>

								            </article>
								        </li>

								        <ul class="children">

								            <li id="comment-6" class="comment odd alt depth-2 comment-item">
								                <article class="comment-wrap clearfix">

								                    <div class="gravatar">
								                        <img alt="" src="/team2.jpg" class="avatar avatar-68 photo" height="68" width="68"> </div>

								                    <div class="comment-content">
								                        <div class="comment-meta">
								                            <h6 class="comment-author">admin</h6>
								                            <span class="comment-time">October 24, 2018</span>
								                        </div>
								                        <div class="comment-text">
								                            <p>Some need to protect very valuable information. All these factors should be taken into account.</p>
								                            <div class="comment-reply"><a class="comment-reply-link" href="#">Reply</a></div>
								                        </div>
								                    </div>

								                </article>
								            </li>

								            <li id="comment-7" class="comment even depth-2 comment-item">
								                <article class="comment-wrap clearfix">

								                    <div class="gravatar">
								                        <img alt="" src="/team3.jpg" class="avatar avatar-68 photo" height="68" width="68"> </div>

								                    <div class="comment-content">
								                        <div class="comment-meta">
								                            <h6 class="comment-author">admin</h6>
								                            <span class="comment-time">October 24, 2018</span>
								                        </div>
								                        <div class="comment-text">
								                            <p>All these factors should be taken into account. A risk-aware Windows user can probably survive without any anti-virus software at all.</p>
								                            <div class="comment-reply"><a rel="nofollow" class="comment-reply-link" href="#">Reply</a></div>
								                        </div>
								                    </div>

								                </article>
								            </li>

								        </ul>

								        <li id="comment-4" class="comment odd alt thread-odd thread-alt depth-1 comment-item">
								            <article class="comment-wrap clearfix">

								                <div class="gravatar">
								                    <img alt="" src="/team5.jpg" class="avatar avatar-68 photo" height="68" width="68"> </div>

								                <div class="comment-content">
								                    <div class="comment-meta">
								                        <h6 class="comment-author">admin</h6>
								                        <span class="comment-time">October 23, 2018</span>
								                    </div>
								                    <div class="comment-text">
								                        <p>The Rangers needed a jolt for their first home game of their second-round series against the Ottawa Senators. Turning to Tanner Glass and his physical style.</p>
								                        <div class="comment-reply"><a rel="nofollow" class="comment-reply-link" href="#">Reply</a></div>
								                    </div>
								                </div>

								            </article>
								        </li>

								    </ol>

								    <div id="respond" class="comment-respond">
								        <h3 id="reply-title" class="comment-reply-title">Leave a comment</h3>
								        <form action="#" method="post" id="commentform" class="comment-form">
								            <p class="logged-in-as">
								            	<a href="#">Logged in as admin</a>. <a href="#">Log out?</a>
								            </p>
								            <p class="comment-form-comment">
								                <textarea id="comment" name="comment" cols="45" rows="8" placeholder="Comment*" required=""></textarea>
								            </p>
								            <p class="comment-form-author">
								            	<input id="author" name="author" type="text" value="" size="30" placeholder="Name*" required="">
								            </p>
								            <p class="comment-form-email">
								            	<input id="email" name="email" type="text" value="" size="30" placeholder="Email*" required="">
								            </p>
								            <p class="form-submit">
								                <input name="submit" type="submit" id="submit" class="btn" value="Post Comment">
								            </p>
								        </form>
								    </div>

								</div>

						    </main>
						</div>

						<!-- DYNAMIC SIDEBAR -->
						<aside id="sidebar" class="widget-area primary-sidebar col-lg-4 col-md-4 col-sm-12 col-xs-12">
						    <section id="search-2" class="widget widget_search">
						        <form role="search" method="get" id="search-form" class="search-form" action="/blog/search">
						            <input type="search" class="search-field" placeholder="Enter keyword..." value="" name="s">
						            <button type="submit" class="search-submit"><i class="fa fa-search"></i></button>
						        </form>
						    </section>
						    
						    <% if (categories && categories.length > 0) { %>
						    <section id="categories-2" class="widget widget_categories">
						        <h4 class="widget-title">Categories</h4>
						        <ul>
						        	<% categories.forEach(cat => { %>
						            <li class="cat-item">
						            	<a href="/category/<%= cat.slug %>"><%= cat.name %></a>
						            </li>
						            <% }); %>
						        </ul>
						    </section>
						    <% } %>
						    
						    <% if (latestPosts && latestPosts.length > 0) { %>
						    <section id="recent_news-1" class="widget widget_recent_news">
						        <h4 class="widget-title">Latest News</h4>
						        <ul class="recent-news clearfix">
						        	<% latestPosts.forEach(post => { %>
						            <li class="clearfix">
						                <% if (post.featuredImage) { %>
						                <div class="thumb">
						                    <a href="/blog/<%= post.slug %>">
						                        <img src="/<%= post.featuredImage %>" alt="<%= post.title %>">
						                    </a>
						                </div>
						                <% } %>
						                <div class="entry-header">
						                    <h6>
						                        <a href="/blog/<%= post.slug %>"><%= post.title %></a>
						                    </h6>
						                    <span class="post-on">
						                        <span class="entry-date"><%= new Date(post.createdAt).toLocaleDateString('en-US', { year: 'numeric', month: 'long', day: 'numeric' }) %></span>
						                    </span>
						                </div>
						            </li>
						            <% }); %>
						        </ul>
						    </section>
						    <% } %>
						   
						</aside>

					</div>
			    </div>
			</div>
		</div>

    <%- include('partials/front_footer'); %>

</div>

    <%- include('partials/front_javascript'); %>

</body>
</html>