<!DOCTYPE html>
<html>
    <%- include('partials/front_head'); %>

<body class="royal_preloader">
	<div id="page" class="site">
        
        <!-- #site-header -->
        <%- include('partials/front_header'); %>
		<div id="content" class="site-content">
			<div class="page-header" style="background-image: url('https://wpdemo.archiwp.com/consultax/wp-content/themes/consultax/images/bg-pheader.jpg');">
			    <div class="container">
			        <div class="breadc-box no-line">
			            <div class="row">
			                <div class="col-md-6">
			                    <h1 class="page-title"><%= service.name %></h1>
			                </div>
			                <div class="col-md-6 mobile-left text-right">
			                    <ul id="breadcrumbs" class="breadcrumbs none-style">
			                        <li><a href="/">Home</a></li>
			                        <li><a href="services">Services</a></li>
			                        <li class="active"><%= service.name %></li>
			                    </ul>
			                </div>
			            </div>
			        </div>
			    </div>
			</div>

			<div class="entry-content">
				<div class="container">
					<div class="row">

						<div id="primary" class="content-area col-lg-8 col-md-8 col-sm-12 col-xs-12 pull-right">
						    <main id="main" class="site-main">

						        <article class="ot_service type-ot_service status-publish has-post-thumbnail hentry">
						            <div class="inner-post">
						                <section class="wpb_row row-fluid">
						                    <div class="container">
						                        <div class="row">
						                            <div class="wpb_column column_container col-sm-12">
						                                <div class="column-inner">
						                                    <div class="wpb_wrapper">
						                                        <h2><%= service.name %></h2>
						                                        <div class="wpb_text_column wpb_content_element">
						                                            <div class="wpb_wrapper">
						                                                <%- service.content %>
						                                            </div>
						                                        </div>
						                                        <div class="empty_space_30"></div>
						                                      <!--   <h4>Our process</h4>
						                                        <div class="wpb_text_column wpb_content_element">
						                                            <div class="wpb_wrapper">
						                                                <p><strong><span class="orange">Step 1: </span></strong> Receive and Evaluate
						                                                    <br>
						                                                    <strong><span class="red">Step 2: </span></strong> Analysis and Planning
						                                                    <br>
						                                                    <strong><span class="green">Step 3: </span></strong> Make plans and Implement</p>

						                                            </div>
						                                        </div>
						                                        <div class="empty_space_30"></div>
						                                        <h4>Analysis charts and statistics</h4>
						                                        <img src="https://via.placeholder.com/700x410" alt="">
																<div class="empty_space_45"></div>
						                                        <h4>What you got ?</h4>
						                                        <div class="wpb_text_column wpb_content_element">
						                                            <div class="wpb_wrapper">
						                                                <p>Britain’s departure from the EU is (in principle) to be final; Northern Ireland’s is now contingent. Britain is getting a divorce; Northern Ireland is being offered a trial separation. For Britain, there is a one-way ticket; for Northern Ireland, there is an automatic right of return. The implicit offer is two unions for the price of one: unite Ireland and you reunite with Europe.</p>

						                                            </div>
						                                        </div> -->
						                                    </div>
						                                </div>
						                            </div>
						                        </div>
						                    </div>
						                </section>
						            </div>
						        </article>

						    </main>
						    <!-- #main -->
						</div>

						<aside id="sidebar" class="widget-area service-sidebar col-lg-4 col-md-4 col-sm-12 col-xs-12">
						    <section id="nav_menu-1" class="widget widget_nav_menu">
						        <h4 class="widget-title">Services</h4>
						        <div class="menu-service-menu-container">
						            <ul id="menu-service-menu" class="menu">
										<% services.forEach(function(item, i) { %>
										<%const isActiveService = (item.slug === service.slug);%>
						                <li class="<%=isActiveService ? 'current-menu-item' : '' %>"><a href="/services/<%= item.slug %>"><%= item.name %></a></li>
										<% }); %>
						        </div>
						    </section>
						    <!-- <section id="text-1" class="widget widget_text bg-second text-light">
						        <h4 class="widget-title">Do you need support !</h4>
						        <div class="textwidget">
						            <ul class="semi-bold">
						                <li><span class="normal">Phone:</span> <a href="tel:+1253 1245 1245">+1253 1245 1245</a></li>
						                <li><span class="normal">Office London:</span> Flat 60, Ross Green,
						                    <br> South Lilyberg, Q7M 8ZV, London,
						                    <br> England
						                </li>
						                <li><span class="normal">Mail:</span> <a href="mailto:info.londonconsulting.com">info.londonconsulting.com</a></li>
						            </ul>
						            <div class="gaps style-parent"></div>
						            <div class="wpcf7">
						                <div class="screen-reader-response"></div>
						                <form action="#" method="post" class="wpcf7-form">
						                    <p>
						                    	<span class="wpcf7-form-control-wrap your-email">
							                    	<input type="email" name="your-email" value="" size="40" class="wpcf7-form-control" required="" placeholder="Email Address">
							                    </span>
						                    	<span class="wpcf7-form-control-wrap your-phone">
						                    		<input type="tel" name="your-phone" value="" size="40" class="wpcf7-form-control" required="true" placeholder="Phone Number">
						                    	</span>
						                        <input type="submit" value="SUBMIT" class="wpcf7-form-control wpcf7-submit btn">
						                    </p>
						                </form>
						            </div>
						        </div>
						    </section> -->
						</aside>

					</div>
				</div>
			</div>

		</div>

    <!-- #content -->
    <%- include('partials/front_footer'); %>

    <!-- #site-footer -->
</div>

    <%- include('partials/front_javascript'); %>

</body>
</html>
