<!DOCTYPE html>
<html>
    <%- include('partials/front_head'); %>

<body class="royal_preloader">
	<div id="page" class="site">
        
        <!-- #site-header -->
        <%- include('partials/front_header'); %>
		<div id="content" class="site-content">
			<div class="page-header" style="background-image: url(/bg-services.jpg);">
			    <div class="container">
			        <div class="breadc-box no-line">
			            <div class="row">
			                <div class="col-md-6">
			                    <h1 class="page-title">Our Services</h1>
			                </div>
			                <div class="col-md-6 mobile-left text-right">
			                    <ul id="breadcrumbs" class="breadcrumbs none-style">
			                        <li><a href="index">Home</a></li>
			                        <li class="active">Our Services</li>
			                    </ul>
			                </div>
			            </div>
			        </div>
			    </div>
			</div>
			<section class="wpb_row row-fluid row-o-equal-height row-flex section-padd">
			    <div class="container">
			        <div class="row">
						<% services.forEach(function(service, i) { %>
			            <div class="wpb_column column_container col-sm-6 col-md-4">
			                <div class="column-inner">
			                    <div class="wpb_wrapper">
			                        <div class="service-box image-box ">
			                            <img src="/<%= service.image %>" alt="service_image<%=i+1%>">
			                            <div class="content-box">
			                                <h4><%= service.name %></h4>
			                                <p><%= service.description %></p>
			                                <a class="link-box pagelink" href="/services/<%= service.slug %>">Read more</a> </div>
			                        </div>
			                        <div class="empty_space_30"></div>
			                    </div>
			                </div>
			            </div>
						<% }); %>
			        </div>
			    </div>
			</section>
		</div>

    <!-- #content -->
    <%- include('partials/front_footer'); %>

    <!-- #site-footer -->
</div>

    <%- include('partials/front_javascript'); %>

</body>
</html>
